// Specific CSS for your home-page
.map-wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// .map {
//   position: fixed;
// }

.mapboxgl-canvas-container {
  height: 100vh;
}

body, html {
  overflow-x: hidden;
}

.mapboxgl-ctrl-geocoder--input {
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; // Responsive width
  max-width: 351px; // Maximum width
  height: 50px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 10px;
  // Remove redundant border-radius properties
}
.mapboxgl-popup-content {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 300px;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    color: #666;
  }
}
