.img-head {
  width: 100%;
  border-radius: 0px;
}

.img-review {
  border-radius: 12px;
}
.location-header {
  margin-bottom: 1rem;
}

.btn-favorite-heart {
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-favorite-heart:focus {
  outline: none;
}

.heart-icon {
  color: rgb(242, 62, 62);
  font-size: 35px; /* Adjust size as needed */
}
.reviews-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px; /* Make space for the button */
  height: 50px;
  margin-top: 20px;/* Adjust as needed */
}

.reviews-header h2 {
  flex-grow: 1;
  text-align: center;
}

.btn-add-review {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #1295B1;
}

.btn-add-review:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.smooth-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
}

.smooth-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.smooth-card .card-body {
  padding: 1rem;
}

.smooth-card .img-head {
  transition: all 0.3s ease;
}

.smooth-card:hover .img-head {
  transform: scale(1.05);
}
.heart {
  font-size: 25px;
	color:red;
}
.heart-des {
  font-size: 25px;
	color:#aaa;
}
.amenities-icons{
  margin-right: 47px;
}
