.img-head {
  width: 100%;
  border-radius: 0px;
}

.img-review {
  border-radius: 12px;
}
.location-header {
  margin-bottom: 1rem;
}

.btn-favorite-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1295B1;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: darken(#1295B1, 10%);
    transform: scale(1.1);
  }

  .fa-heart {
    font-size: 20px;
  }
}
.card-body {
  position: relative;
  padding-top: 50px; // Adjust this value to ensure other content doesn't overlap with the button
}
