.profile {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#logout-button {
  margin-top: auto;
  // margin: 0 auto;
  display: block;
  border: 2px solid;
  border-radius: 6px
}
