<nav class="bottom-nav">
  <div class="bottom-nav-container">
    <%= link_to "#", class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-regular fa-map"></i>
      </div>
      <p>Map</p>
    <% end %>
    <%= link_to "#", class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-solid fa-heart-circle-check"></i>
      </div>
      <p>Saved</p>
    <% end %>
    <%= link_to "#", class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-regular fa-user"></i>
      </div>
      <p>Profile</p>
    <% end %>
  </div>
</nav>
