<nav class="bottom-nav">
  <div class="bottom-nav-container">
    <%= link_to "#", class: "nav-item" do %>
     <i class="fa-regular fa-map"></i>
      <p>Map</p>
    <% end %>
    <%= link_to "#", class: "nav-item" do %>
      <i class="fa-solid fa-heart-circle-check"></i>
      <p>Saved</p>
    <% end %>
    <%= link_to "#", class: "nav-item" do %>
      <i class="fa-regular fa-user"></i>
      <p>Profile</p>
    <% end %>
  </div>
</nav>
