<div id="welcome-popup" class="popup" data-controller="popup">
  <div class="popup-content" style="background-image: url(<%= asset_path('logo.png') %>);">
    <button id="explore-button"><b>Let's explore</b></button>
  </div>
</div>
