<%= link_to location_path(location) do %>
  <p><%= location.name %></p>
<% end %>

<span>
  <% if location.image.attached? %>
    <%= cl_image_tag location.image.key, class: "img-fluid" %>
  <% else %>
    No image available
  <% end %>
</span>
