<%# <% if not user_signed_in? %>
    <%# <%= render 'shared/entry_page'%>
<%# <% end %>


<div class="map-wrap">
  <div class="map"
    data-controller="map"
    data-map-spots-value="<%= @spots.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%# <div class="banner-logo" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
      <%= image_tag "swimfinderbannerlogo.png", alt: "Swim Finder Logo", class: "img-fluid" %>
    </div>
  </div>
</div>

