<div id="welcome-popup" class="popup" data-controller="popup">
  <div class="popup-content" style="background-image: url(<%= asset_path('logo.png') %>);">
    <h1>Welcome to Swimfind</h1>
    <button id="explore-button">Let's explore</button>
  </div>
</div>

<div class="map-wrap">
  <div class="map"
    data-controller="map"
    data-map-spots-value="<%= @spots.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
