.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bottom-nav-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #1295B1;

  a {
    color: white;
  }

  i {
    align-items: center;
    margin-top: 10px;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  z-index: 9;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}


.content-wrapper {
  margin-bottom: 3rem;
}

.swimfinder-icon {
  width: 270px;  /* oder die gewünschte Größe */
  height: auto;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  z-index: 1;
}
