.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bottom-nav-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #0dc2f0;

  a {
    color: white;
  }

  i {
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  z-index: 9;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}


.content-wrapper {
  margin-bottom: 3rem;
}

.swimfinder-icon {

  width: 120px;  /* oder die gewünschte Größe */

  height: auto;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  z-index: 1;
  margin-bottom: -17px;
}

.bottom-nav {
  width: 100%;
  height: 80px; /* Increased height */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff; /* Add a background color */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.bottom-nav-container {
  max-width: 100%;
  height: 100%; /* Make container full height */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-container {
  font-size: 37px; /* Increase icon size */
  margin-bottom: 5px;
}
